# Trending YouTubes Statistics

## Extracting Data

### Set up dependecies

#### Using command for Kaggle using terminal

For more information check documentation of Public API for How to Use Kaggle in this [link](https://www.kaggle.com/docs/api)

In [1]:
#Set up command lines with terminal tool
# This project need data set in Kaggle for this is necesary to install kaggle
!pip install kaggle
#Also refrence in:
#https://github.com/Kaggle/kaggle-api documents and
#and https://www.youtube.com/watch?v=gkEbaMgvLs8

Requirement already satisfied: kaggle in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (1.5.10)
Requirement already satisfied: python-dateutil in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.8.1)
Requirement already satisfied: python-slugify in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (4.0.1)
Requirement already satisfied: requests in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.24.0)
Requirement already satisfied: urllib3 in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.25.9)
Requirement already satisfied: tqdm in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (4.47.0)
Requirement already satisfied: certifi in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: six>=1.10 in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (2.10)

In [2]:
# Kaggle requaries to ensure kaggle.json (API token file) is in the location ~./kaggle/kaggle.json to use the API
#You have to create an account or and API token in your account. This will download a fresh authentication token onto you machine (kaggle.json)
#Copy you token to downloads to the folder of kaggle (~./kaggle)
!cp -'your path downald file kaggle.json' -'new path ~./kaggle'

cp: illegal option -- y
usage: cp [-R [-H | -L | -P]] [-fi | -n] [-apvXc] source_file target_file
       cp [-R [-H | -L | -P]] [-fi | -n] [-apvXc] source_file ... target_directory

In [3]:
#Check file kaggle is the ~./kaggle path
!cd {'new path ~./kaggle'} && ls

/bin/bash: line 0: cd: new: No such file or directory

#### Dependecies

In [4]:
#Other dependecies
import pandas as pd
import os
from os import walk

In [5]:
#path to  download
path_download=os.path.join('Resources')

### Import dataset from Kaggle.com

In [6]:
#this line use the kaggle.json of your account and aunthenticate
from kaggle.api.kaggle_api_extended import KaggleApi
api=KaggleApi()
api.authenticate()

In [7]:
# Download all files of a dataset
# Signature: dataset_download_files(dataset, path=None, force=False, quiet=True, unzip=False)
api.dataset_download_files('datasnaek/youtube-new', path=path_download, force=False, quiet=True, unzip=True)
#A simple file:#Signature: dataset_download_file(dataset, file_name, path=None, force=False, quiet=True)

### Forming Data Frames in Pandas

In [8]:
#files in the data set:
files=[]
for (dirpath, dirnames, filenames) in walk(path_download):
    files.append(filenames)
    print(filenames)

['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']

In [9]:
#Number of files of data base in kaggle
len(files[0])

20

In [10]:
#Show the first file
files[0][0]

'IN_category_id.json'

In [11]:
#Print all name files
for file in range(len(files[0])):
    print(files[0][file])

IN_category_id.json
MXvideos.csv
RU_category_id.json
JP_category_id.json
FR_category_id.json
INvideos.csv
GB_category_id.json
DEvideos.csv
JPvideos.csv
KR_category_id.json
KRvideos.csv
CAvideos.csv
MX_category_id.json
RUvideos.csv
FRvideos.csv
CA_category_id.json
US_category_id.json
DE_category_id.json
USvideos.csv
GBvideos.csv

In [38]:
# read files in pandas
files_csv=[] #Create frame for csv files
files_json=[] #Create frame fo json files

for file in range(len(files[0])):
    file_path=f'{path_download}/{files[0][file]}'
    try:
        files_json.append(pd.read_json(file_path))
        print(f'{files[0][file]} with json')
    except:
        try:
            files_csv.append(pd.read_csv(file_path, encoding='utf-8-sig'))
            print(f'{files[0][file]} with encoding utf-8')
        except:
            files_csv.append(pd.read_csv(file_path, encoding='latin1'))
            print(f'{files[0][file]} with encoding latin')

IN_category_id.json with json
MXvideos.csv with encoding latin
RU_category_id.json with json
JP_category_id.json with json
FR_category_id.json with json
INvideos.csv with encoding utf-8
GB_category_id.json with json
DEvideos.csv with encoding utf-8
JPvideos.csv with encoding latin
KR_category_id.json with json
KRvideos.csv with encoding latin
CAvideos.csv with encoding utf-8
MX_category_id.json with json
RUvideos.csv with encoding latin
FRvideos.csv with encoding utf-8
CA_category_id.json with json
US_category_id.json with json
DE_category_id.json with json
USvideos.csv with encoding utf-8
GBvideos.csv with encoding utf-8

In [39]:
print(len(files_json))

10

In [40]:
files_json[0].head(1)

,kind,etag,items
0,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""XI..."

In [41]:
print(len(files_csv))

10

In [42]:
files_csv[0].head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,SbOwzAl9ZfQ,17.14.11,CapÃ­tulo 12 | MasterChef 2017,MasterChef 2017,24,2017-11-13T06:06:22.000Z,"MasterChef Junior 2017|""TV Azteca""|""recetas""|""...",310130,4182,361,1836,https://i.ytimg.com/vi/SbOwzAl9ZfQ/default.jpg,False,False,False,Disfruta la presencia del Chef Torreblanca en ...

In [43]:
#Data frame for Mexico
files_csv[7].head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Ro6eob0LrCY,17.14.11,Malika LePen : Femme de Gauche - Trailer,Le Raptor Dissident,24,2017-11-13T17:32:55.000Z,"Raptor""|""Dissident""|""Expliquez""|""moi""|""cette""|...",212702,29282,1108,3817,https://i.ytimg.com/vi/Ro6eob0LrCY/default.jpg,False,False,False,Dimanche.\n18h30.\nSoyez présents pour la vidé...

In [44]:
#Data frame for Japan
files_csv[5].head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...

In [45]:
#Data frame for Great Britain
files_csv[9].head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...

## Exploring Data

### Kind of info in json files

In [65]:
#Country work with
Country=9 #Working with Data of Great Great Britain

In [66]:

# Kind of info in json files
files_json[Country].describe()

,kind,etag,items
count,31,31,31
unique,1,1,31
top,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
freq,31,31,1

In [67]:
files_json[Country]

,kind,etag,items
0,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
1,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
2,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
3,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
4,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
5,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
6,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
7,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
8,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
9,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
10,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
11,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
12,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
13,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
14,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
15,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
16,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
17,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
18,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
19,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
20,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
21,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
22,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
23,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
24,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
25,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
26,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
27,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
28,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
29,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
30,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."

In [68]:
files_json[Country].columns

Index(['kind', 'etag', 'items'], dtype='object')

In [69]:
files_json[Country].columns[1]

'etag'

In [70]:
files_json[Country]['etag'].unique()

array(['"ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2qTj13hkQZk"'],
      dtype=object)

In [71]:
files_json[Country]['kind'].unique()

array(['youtube#videoCategoryListResponse'], dtype=object)

In [72]:
files_json[Country]['items'][0]

{'kind': 'youtube#videoCategory',
 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKmPBggty2mZQ"',
 'id': '1',
 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
  'title': 'Film & Animation',
  'assignable': True}}

In [73]:
files_json[Country]['items'][0]['kind']

'youtube#videoCategory'

In [74]:
files_json[Country]['items'][0]['etag']

'"ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKmPBggty2mZQ"'

In [75]:
files_json[Country]['items'][0]['id']

'1'

In [76]:
files_json[Country]['items'][0]['snippet']

{'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
 'title': 'Film & Animation',
 'assignable': True}

In [77]:
files_json[Country]['items'][0]['snippet']['channelId']

'UCBR8-60-B28hp2BmDPdntcQ'

In [78]:
files_json[Country]['items'][0]['snippet']['title']

'Film & Animation'

In [79]:
files_json[Country]['items'][0]['snippet']['assignable']

True

### Kind of info in csv files

In [80]:
#Kind of info in csv files

In [81]:
files_csv[Country].describe()

        category_id         views         likes      dislikes  comment_count
count  38916.000000  3.891600e+04  3.891600e+04  3.891600e+04   3.891600e+04
mean      16.827937  5.911944e+06  1.345196e+05  7.612560e+03   1.308835e+04
std        7.752728  1.900121e+07  3.499893e+05  5.095683e+04   5.066740e+04
min        1.000000  8.510000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       10.000000  2.515272e+05  5.897000e+03  2.000000e+02   6.790000e+02
50%       20.000000  9.818890e+05  2.518250e+04  8.210000e+02   2.478000e+03
75%       24.000000  3.683628e+06  1.140892e+05  3.357500e+03   9.241500e+03
max       43.000000  4.245389e+08  5.613827e+06  1.944971e+06   1.626501e+06

In [82]:
files_csv[Country].head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg,False,False,False,Salford drew 4-4 against the Class of 92 and F...
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,https://i.ytimg.com/vi/rHwDegptbI4/default.jpg,False,False,False,Dashcam captures truck's near miss with child ...

In [83]:
files_csv[Country].columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [84]:
files_csv[Country]['video_id'].unique()

array(['Jw1Y-zhQURU', '3s1rvMFUweQ', 'n1WpP7iowLc', ..., 'V15BYnSr0P8',
       'BOhylL90UVQ', '14G7Qw5DC9M'], dtype=object)

In [85]:
files_csv[Country]['trending_date'].unique()

array(['17.14.11', '17.15.11', '17.16.11', '17.17.11', '17.18.11',
       '17.19.11', '17.20.11', '17.21.11', '17.22.11', '17.23.11',
       '17.24.11', '17.25.11', '17.26.11', '17.27.11', '17.28.11',
       '17.29.11', '17.30.11', '17.01.12', '17.02.12', '17.03.12',
       '17.04.12', '17.05.12', '17.06.12', '17.07.12', '17.08.12',
       '17.09.12', '17.10.12', '17.11.12', '17.12.12', '17.13.12',
       '17.14.12', '17.15.12', '17.16.12', '17.17.12', '17.18.12',
       '17.19.12', '17.20.12', '17.21.12', '17.22.12', '17.23.12',
       '17.24.12', '17.25.12', '17.26.12', '17.27.12', '17.28.12',
       '17.29.12', '17.30.12', '17.31.12', '18.01.01', '18.02.01',
       '18.03.01', '18.04.01', '18.05.01', '18.06.01', '18.07.01',
       '18.08.01', '18.09.01', '18.12.01', '18.13.01', '18.14.01',
       '18.15.01', '18.16.01', '18.17.01', '18.18.01', '18.19.01',
       '18.20.01', '18.21.01', '18.22.01', '18.23.01', '18.24.01',
       '18.25.01', '18.26.01', '18.27.01', '18.28.01', '18.29.01',
       '18.30.01', '18.31.01', '18.01.02', '18.02.02', '18.03.02',
       '18.04.02', '18.05.02', '18.06.02', '18.07.02', '18.08.02',
       '18.09.02', '18.10.02', '18.11.02', '18.12.02', '18.13.02',
       '18.14.02', '18.15.02', '18.16.02', '18.17.02', '18.18.02',
       '18.19.02', '18.20.02', '18.21.02', '18.22.02', '18.23.02',
       '18.24.02', '18.25.02', '18.26.02', '18.27.02', '18.28.02',
       '18.01.03', '18.02.03', '18.03.03', '18.04.03', '18.05.03',
       '18.06.03', '18.07.03', '18.08.03', '18.09.03', '18.10.03',
       '18.11.03', '18.12.03', '18.13.03', '18.14.03', '18.15.03',
       '18.16.03', '18.17.03', '18.18.03', '18.19.03', '18.20.03',
       '18.21.03', '18.22.03', '18.23.03', '18.24.03', '18.25.03',
       '18.26.03', '18.27.03', '18.28.03', '18.29.03', '18.30.03',
       '18.31.03', '18.01.04', '18.02.04', '18.03.04', '18.04.04',
       '18.05.04', '18.06.04', '18.07.04', '18.14.04', '18.15.04',
       '18.16.04', '18.17.04', '18.18.04', '18.19.04', '18.20.04',
       '18.21.04', '18.22.04', '18.23.04', '18.24.04', '18.25.04',
       '18.26.04', '18.27.04', '18.28.04', '18.29.04', '18.30.04',
       '18.01.05', '18.02.05', '18.03.05', '18.04.05', '18.05.05',
       '18.06.05', '18.07.05', '18.08.05', '18.09.05', '18.10.05',
       '18.11.05', '18.12.05', '18.13.05', '18.14.05', '18.15.05',
       '18.16.05', '18.17.05', '18.18.05', '18.19.05', '18.20.05',
       '18.21.05', '18.22.05', '18.23.05', '18.24.05', '18.25.05',
       '18.26.05', '18.27.05', '18.28.05', '18.29.05', '18.30.05',
       '18.31.05', '18.01.06', '18.02.06', '18.03.06', '18.04.06',
       '18.05.06', '18.06.06', '18.07.06', '18.08.06', '18.09.06',
       '18.10.06', '18.11.06', '18.12.06', '18.13.06', '18.14.06'],
      dtype=object)

In [86]:
files_csv[Country]['title'].unique()

array(['John Lewis Christmas Ad 2017 - #MozTheMonster',
       'Taylor Swift: …Ready for It? (Live) - SNL',
       'Eminem - Walk On Water (Audio) ft. Beyoncé', ...,
       'Live It Up (Official Video) - Nicky Jam feat. Will Smith & Era Istrefi (2018 FIFA World Cup Russia)',
       'The Chainsmokers - Somebody ft. Drew Love (Rory Kramer Vision)',
       '17 FUN LIFE HACKS YOU WILL WANT TO TRY YOURSELF'], dtype=object)

In [87]:
files_csv[Country]['channel_title'].unique()

array(['John Lewis', 'Saturday Night Live', 'EminemVEVO', ...,
       'Семен Слепаков', 'The Chainsmokers', '5-Minute Crafts'],
      dtype=object)

In [88]:
files_csv[Country]['publish_time'].unique()

array(['2017-11-10T07:38:29.000Z', '2017-11-12T06:24:44.000Z',
       '2017-11-10T17:00:03.000Z', ..., '2018-06-08T11:58:38.000Z',
       '2018-06-09T16:00:00.000Z', '2018-05-18T07:30:00.000Z'],
      dtype=object)

In [89]:
files_csv[Country]['tags'].unique()

array(['christmas|"john lewis christmas"|"john lewis"|"christmas ad"|"mozthemonster"|"christmas 2017"|"christmas ad 2017"|"john lewis christmas advert"|"moz"',
       'SNL|"Saturday Night Live"|"SNL Season 43"|"Episode 1730"|"Tiffany Haddish"|"Taylor Swift"|"Taylor Swift Ready for It"|"s43"|"s43e5"|"episode 5"|"live"|"new york"|"comedy"|"sketch"|"funny"|"hilarious"|"late night"|"host"|"music"|"guest"|"laugh"|"impersonation"|"actor"|"improv"|"musician"|"comedian"|"actress"|"If Loving You Is Wrong"|"Oprah Winfrey"|"OWN"|"Girls Trip"|"The Carmichael Show"|"Keanu"|"Reputation"|"Look What You Made Me Do"|"ready for it?"',
       'Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/Interscope"|"Rap"',
       ...,
       'capitalfmofficial|"capital"|"capital fm"|"capital radio"|"radio"|"official"|"remix"|"lyrics"|"official video"|"live"|"capital tv"|"interview"|"summertime ball"|"stb"|"capital summertime ball 2018"|"capital stb"|"camila cabello live"|"camila summertime ball"|"camila cabello summertime ball"|"fifth harmony"|"fifth harmony live"|"camila fifth harmony"|"harmonisers"|"harmonizers"',
       'The Chainsmokers Somebody|"Chainsmokers Somebody"|"Somedy Drew Love"|"The Chainsmokers Somebody Drew Love"|"The Chainsmokers"|"Rory Kramer"|"Rory Kramer Vision"|"Somebody Rory Kramer"|"Rory Kramer Somebody"|"The Chainsmokers Rory Kramer"|"Somebody Chainsmokers Rory"|"The Chainsmokers Somebody official video"|"official video"|"Lil Dicky"|"G-Eazy"|"Halsey"|"Andrew Watt"',
       '5-Minute Crafts|"DIY"|"Do it yourself"|"crafts"|"trucos"|"trucos de belliza"|"proyectos faciles"|"useful things"|"lifehacks"|"tricks"|"tips"|"DIY projects"|"DIY activities"|"Handcraft"|"Tutorial"|"balloon"|"balloons"|"confettis"|"how to"|"make"|"create"|"design"|"invent"|"festive event"|"birthday party"|"gifts"|"presents"|"gift"|"present"|"gift wrapping"|"toothy pictures"|"drawing"|"painting"|"pull tab"|"rubber band"|"straw hand"'],
      dtype=object)

In [90]:
pd.DataFrame(files_csv[Country]['tags'].value_counts())

                                                    tags
[none]                                              2010
James Corden|"The Late Late Show"|"Colbert"|"la...   100
BIGHIT|"빅히트"|"방탄소년단"|"BTS"|"BANGTAN"|"방탄"             94
ABC|"americanidol"|"idol"|"american idol"|"ryan...    89
The Late Show|"Stephen Colbert"|"Colbert"|"Late...    77
...                                                  ...
Star Wars|"Rey"|"Luke Skywalker"|"A New Hope"          1
Dua Lipa|"Arctic Monkeys"|"Dua Lipa do i wanna ...     1
Cardi B|"Be Careful"|"Bodak Yellow"|"Invasion o...     1
carrie hope fletcher|"youtube"|"vlogger"|"trave...     1
slave trade|"libya slave trade"|"cnn freedom pr...     1

[3122 rows x 1 columns]

In [91]:
files_csv[Country]['views'].unique()

array([ 7224515,  1053632, 17158579, ..., 29641412, 14317515,   607552])

In [92]:
files_csv[Country]['likes'].unique()

array([ 55681,  25561, 787420, ...,  61998, 394830, 151870])

In [93]:
files_csv[Country]['dislikes'].unique()

array([10247,  2294, 43420, ..., 13781,  8892, 45875])

In [94]:
files_csv[Country]['comment_count'].unique()

array([  9479,   2757, 125882, ...,  24330,  19988,  26766])

In [95]:
files_csv[Country]['thumbnail_link'].unique()

array(['https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg',
       'https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg',
       'https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg', ...,
       'https://i.ytimg.com/vi/V15BYnSr0P8/default.jpg',
       'https://i.ytimg.com/vi/BOhylL90UVQ/default.jpg',
       'https://i.ytimg.com/vi/14G7Qw5DC9M/default.jpg'], dtype=object)

In [96]:
files_csv[Country]['thumbnail_link'].value_counts()

https://i.ytimg.com/vi/u_C4onVrr8U/default.jpg    38
https://i.ytimg.com/vi/2z3EUY1aXdY/default.jpg    38
https://i.ytimg.com/vi/NooW_RbfdWI/default.jpg    38
https://i.ytimg.com/vi/BhIEIO0vaBE/default.jpg    38
https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg    38
                                                  ..
https://i.ytimg.com/vi/aydY1eiGjgs/default.jpg     1
https://i.ytimg.com/vi/L424fq8RICQ/default.jpg     1
https://i.ytimg.com/vi/RQpGCAkpEtY/default.jpg     1
https://i.ytimg.com/vi/Zqh2DS7oIbU/default.jpg     1
https://i.ytimg.com/vi/iDXlWTRyxgE/default.jpg     1
Name: thumbnail_link, Length: 3272, dtype: int64

In [97]:
files_csv[Country]['ratings_disabled'].unique()

array([False,  True])

In [98]:
files_csv[Country]['video_error_or_removed'].unique()

array([False,  True])

In [99]:
files_csv[Country]['description'].unique()

array(["Click here to continue the story and make your own monster:\\nhttp://bit.ly/2mboXgj\\n\\nJoe befriends a noisy Monster under his bed but the two have so much fun together that he can't get to sleep, leaving him tired by day. For Christmas Joe receives a gift to help him finally get a good night’s sleep.\\n\\nShop the ad\\nhttp://bit.ly/2hg04Lc\\n\\nThe music is Golden Slumbers performed by elbow, the original song was by The Beatles. \\nFind the track:\\nhttps://Elbow.lnk.to/GoldenSlumbersXS\\n\\nSubscribe to this channel for regular video updates\\nhttp://bit.ly/2eU8MvW\\n\\nIf you want to hear more from John Lewis:\\n\\nLike John Lewis on Facebook\\nhttp://www.facebook.com/johnlewisretail\\n\\nFollow John Lewis on Twitter\\nhttp://twitter.com/johnlewisretail\\n\\nFollow John Lewis on Instagram\\nhttp://instagram.com/johnlewisretail",
       'Musical guest Taylor Swift performs …Ready for It? on Saturday Night Live.\\n\\n#SNL #SNL43\\n\\nGet more SNL: http://www.nbc.com/saturday-night-live\\nFull Episodes: http://www.nbc.com/saturday-night-liv...\\n\\nLike SNL: https://www.facebook.com/snl\\nFollow SNL: https://twitter.com/nbcsnl\\nSNL Tumblr: http://nbcsnl.tumblr.com/\\nSNL Instagram: http://instagram.com/nbcsnl \\nSNL Pinterest: http://www.pinterest.com/nbcsnl/',
       "Eminem's new track Walk on Water ft. Beyoncé is available everywhere: http://shady.sr/WOWEminem \\nPlaylist Best of Eminem: https://goo.gl/AquNpo\\nSubscribe for more: https://goo.gl/DxCrDV\\n\\nFor more visit: \\nhttp://eminem.com\\nhttp://facebook.com/eminem\\nhttp://twitter.com/eminem\\nhttp://instagram.com/eminem\\nhttp://eminem.tumblr.com\\nhttp://shadyrecords.com\\nhttp://facebook.com/shadyrecords\\nhttp://twitter.com/shadyrecords\\nhttp://instagram.com/shadyrecords\\nhttp://trustshady.tumblr.com\\n\\nMusic video by Eminem performing Walk On Water. (C) 2017 Aftermath Records\\nhttp://vevo.ly/gA7xKt",
       ...,
       'The Chainsmokers - Somebody ft. Drew Love (A Rory Kramer Vision)Somebody ft. Drew Love Out Now: http://smarturl.it/TCSsomebody Video by Rory KramerFollow The Chainsmokers: http://www.youtube.com/thechainsmokers http://www.twitter.com/thechainsmokers http://www.facebook.com/thechainsmokers http://www.instagram.com/thechainsmokers http://www.soundcloud.com/thechainsmokers',
       "So here are some incredibly fun life hacks you will want to try yourself!You should totally check out these great ideas for the best party ever!Learn 7 sick dance moves for beginners, find out how to make incredible confetti balloons, floral numbers and letters for room decoration, phone speakers and your own disco ball!It's a perfect chance to spend some quality time with your friends or family and have fun together! Learn how to make soda machine right at home and inflate balloons correctly in a very creative way!Let the fun begin! :)----------------------------------------------------------------------------------------Our Social Media:Facebook: https://www.facebook.com/5min.crafts/Instagram: https://www.instagram.com/5.min.crafts/Twitter: https://twitter.com/5m_craftsSubscribe to 5-Minute Crafts GIRLY: https://goo.gl/fWbJqzSubscribe to 5-Minute Workouts: https://goo.gl/67owiQSubscribe 5-Minute Crafts KIDS: https://goo.gl/PEuLVtThe Bright Side of Youtube: https://goo.gl/rQTJZz----------------------------------------------------------------------------------------For more videos and articles visit:http://www.brightside.me/",
       "Debut album 'Light of Mine' out now: http://kyle.lnk.to/LightofMineIDFollow SuperDuperKyle:Facebook: https://facebook.com/superduperkylemusicTwitter: https://twitter.com/superduperkyleInstagram: https://instagram.com/superduperkyleSoundCloud: https://soundcloud.com/superduperkylemusicWebsite: http://superduperkyle.comFollow the SuperDuperCrew:https://twitter.com/SuperDuperCrew_https://instagram.com/superdupercrew/https://youtube.com/user/SuperDuperCrewTVKYLE - Ikuyo feat. 2 Chainz & Sophia Black"],
      dtype=object)

#  Transform activities

Transforming extracted data to get the following DataFrames:

* Tag catalog
* YouTube Video category catalog
* YouTube Video description (video id, category id, video name, link)
* YouTube Video insights (likes, dislikes, # of views, category id)
* Tag - video id normalization relationship table: containing all video ids and their corresponding tag ids

## Tag catalog & Tag normalization table

## Tag Normalization table

In [140]:
#We create a df with video ID and tag reference
video_tag_df = files_csv[Country][['video_id','tags']]
video_tag_df.head()


#Removing rows with NaN in tags 
video_tag_df.dropna()
video_tag_df

          video_id                                               tags
0      Jw1Y-zhQURU  christmas|"john lewis christmas"|"john lewis"|...
1      3s1rvMFUweQ  SNL|"Saturday Night Live"|"SNL Season 43"|"Epi...
2      n1WpP7iowLc  Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...
3      PUTEiSjKwJU  Salford City FC|"Salford City"|"Salford"|"Clas...
4      rHwDegptbI4                                             [none]
...            ...                                                ...
38911  l884wKofd54  Enrique Iglesias feat. Pitbull|"MOVE TO MIAMI"...
38912  IP8k2xkhOdI  jacob sartorius|"jacob"|"up with it"|"jacob sa...
38913  Il-an3K9pjg  anne|"marie"|"anne-marie"|"2002"|"two thousand...
38914  -DRsfNObKIQ  Eurovision Song Contest|"2018"|"Lisbon"|"Cypru...
38915  4YFo4bdMO8Q  Kyle|"SuperDuperKyle"|"Ikuyo"|"2 Chainz"|"Soph...

[38916 rows x 2 columns]

In [141]:
#Removing association from videos not being tagged
video_tag_df = video_tag_df[video_tag_df['tags'] != '[none]']
video_tag_df

          video_id                                               tags
0      Jw1Y-zhQURU  christmas|"john lewis christmas"|"john lewis"|...
1      3s1rvMFUweQ  SNL|"Saturday Night Live"|"SNL Season 43"|"Epi...
2      n1WpP7iowLc  Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...
3      PUTEiSjKwJU  Salford City FC|"Salford City"|"Salford"|"Clas...
5      AumaWl0TNBo  pointlessblog|"pointlessblogtv"|"pointlessblog...
...            ...                                                ...
38911  l884wKofd54  Enrique Iglesias feat. Pitbull|"MOVE TO MIAMI"...
38912  IP8k2xkhOdI  jacob sartorius|"jacob"|"up with it"|"jacob sa...
38913  Il-an3K9pjg  anne|"marie"|"anne-marie"|"2002"|"two thousand...
38914  -DRsfNObKIQ  Eurovision Song Contest|"2018"|"Lisbon"|"Cypru...
38915  4YFo4bdMO8Q  Kyle|"SuperDuperKyle"|"Ikuyo"|"2 Chainz"|"Soph...

[36906 rows x 2 columns]

## Tag catalog

In [142]:
df_i = video_tag_df['tags']
df_i.head()

0    christmas|"john lewis christmas"|"john lewis"|...
1    SNL|"Saturday Night Live"|"SNL Season 43"|"Epi...
2    Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...
3    Salford City FC|"Salford City"|"Salford"|"Clas...
5    pointlessblog|"pointlessblogtv"|"pointlessblog...
Name: tags, dtype: object

In [143]:
#Splitting tags to create catalog using tags list. It will give a list of lists
tags_list = df_i.str.split('|', expand = False)

#Empty DataFrame where tags will be allocated
tags = []

#Iterating on list of lists to get a unique tag
for tag_group in tags_list:
    for tag in tag_group:
     #Removing '"' from tags 
        tags.append(tag.replace('"', ''))
        
tags_df = pd.DataFrame({
    'tag_name': tags
})

tags_df.drop_duplicates(keep='first', inplace=True)
tags_df

                    tag_name
0                  christmas
1       john lewis christmas
2                 john lewis
3               christmas ad
4              mozthemonster
...                      ...
697915         gift wrapping
697916       toothy pictures
697919              pull tab
697920           rubber band
697921            straw hand

[31881 rows x 1 columns]

## YouTube video category catalog

In [144]:
#To create YouTube video category, we need to iterate on items value from JSON file
#Categories are stored in array, which will be used to create YouTube video category DataFrame
categories_ids = []
categories = []


for category in files_json[Country]['items']:
    #print(category['snippet']['title'])
    categories_ids.append(category['id'])
    categories.append(category['snippet']['title'])

categories_df = pd.DataFrame( {
    'category_id': categories_ids,
    'category_name': categories
})

categories_df

   category_id         category_name
0            1      Film & Animation
1            2      Autos & Vehicles
2           10                 Music
3           15        Pets & Animals
4           17                Sports
5           18          Short Movies
6           19       Travel & Events
7           20                Gaming
8           21         Videoblogging
9           22        People & Blogs
10          23                Comedy
11          24         Entertainment
12          25       News & Politics
13          26         Howto & Style
14          27             Education
15          28  Science & Technology
16          30                Movies
17          31       Anime/Animation
18          32      Action/Adventure
19          33              Classics
20          34                Comedy
21          35           Documentary
22          36                 Drama
23          37                Family
24          38               Foreign
25          39                Horror
26          40        Sci-Fi/Fantasy
27          41              Thriller
28          42                Shorts
29          43                 Shows
30          44              Trailers

## YouTube video description table

In [145]:
#YouTube Video description (video id, category id, video name, link)
#files_csv[3] = UK videos
video_description_df = files_csv[Country][['video_id','category_id','title']]
video_description_df.dropna()
video_description_df

,video_id,category_id,title
0,Jw1Y-zhQURU,26,John Lewis Christmas Ad 2017 - #MozTheMonster
1,3s1rvMFUweQ,24,Taylor Swift: …Ready for It? (Live) - SNL
2,n1WpP7iowLc,10,Eminem - Walk On Water (Audio) ft. Beyoncé
3,PUTEiSjKwJU,17,Goals from Salford City vs Class of 92 and Fri...
4,rHwDegptbI4,25,Dashcam captures truck's near miss with child ...
...,...,...,...
38911,l884wKofd54,10,Enrique Iglesias - MOVE TO MIAMI (Official Vid...
38912,IP8k2xkhOdI,10,Jacob Sartorius - Up With It (Official Music V...
38913,Il-an3K9pjg,10,Anne-Marie - 2002 [Official Video]
38914,-DRsfNObKIQ,24,Eleni Foureira - Fuego - Cyprus - LIVE - First...
38915,4YFo4bdMO8Q,10,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...

## YouTube video Insights

In [146]:
#YouTube Insights (video_id','views','likes', 'dislikes', 'comment_count')
video_insights_df = files_csv[Country][['video_id','views','likes', 'dislikes', 'comment_count']]
video_insights_df.dropna()
video_insights_df

          video_id     views   likes  dislikes  comment_count
0      Jw1Y-zhQURU   7224515   55681     10247           9479
1      3s1rvMFUweQ   1053632   25561      2294           2757
2      n1WpP7iowLc  17158579  787420     43420         125882
3      PUTEiSjKwJU     27833     193        12             37
4      rHwDegptbI4      9815      30         2             30
...            ...       ...     ...       ...            ...
38911  l884wKofd54  25066952  268088     12783           9933
38912  IP8k2xkhOdI   1492219   61998     13781          24330
38913  Il-an3K9pjg  29641412  394830      8892          19988
38914  -DRsfNObKIQ  14317515  151870     45875          26766
38915  4YFo4bdMO8Q    607552   18271       274           1423

[38916 rows x 5 columns]