# Trending YouTubes Statistics

## Extracting Data

### Set up dependecies

#### Using comman for Kaggle

In [ ]:
#Set up command lines
# This project need data set in Kaggle for this is necesary to install kaggle
!pip install kaggle
#https://github.com/Kaggle/kaggle-api documents and https://www.youtube.com/watch?v=gkEbaMgvLs8

In [ ]:
# Make a directory in path

In [ ]:
#You have to create am account and and API token
#Copy you token to downls to in the folder of kaggle

#### Dependecies

In [20]:
#Other dependecies
import pandas as pd
import os
from os import walk

In [23]:
#path to  download
path_download=os.path.join('Resources')

### Import dataset from Kaggle.com

In [ ]:
#this line use the kaggle.json of your account and aunthenticate
from kaggle.api.kaggle_api_extended import KaggleApi
api=KaggleApi()
api.authenticate()

In [ ]:
# Download all files of a dataset
# Signature: dataset_download_files(dataset, path=None, force=False, quiet=True, unzip=False)
api.dataset_download_files('datasnaek/youtube-new', path=path_download, force=False, quiet=True, unzip=True)

### Forming Data Frames in Pandas

In [27]:
#files in the data set:
files=[]
for (dirpath, dirnames, filenames) in walk(path_download):
    files.append(filenames)
    print(filenames)

['CAvideos.csv', 'CA_category_id.json', 'DEvideos.csv', 'DE_category_id.json', 'FRvideos.csv', 'FR_category_id.json', 'GBvideos.csv', 'GB_category_id.json', 'INvideos.csv', 'IN_category_id.json', 'JPvideos.csv', 'JP_category_id.json', 'KRvideos.csv', 'KR_category_id.json', 'MXvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'RU_category_id.json', 'USvideos.csv', 'US_category_id.json']

In [33]:
len(files[0])

20

In [31]:
files[0][0]

'CAvideos.csv'

In [46]:
for file in range(len(files[0])):
    print(files[0][file])

CAvideos.csv
CA_category_id.json
DEvideos.csv
DE_category_id.json
FRvideos.csv
FR_category_id.json
GBvideos.csv
GB_category_id.json
INvideos.csv
IN_category_id.json
JPvideos.csv
JP_category_id.json
KRvideos.csv
KR_category_id.json
MXvideos.csv
MX_category_id.json
RUvideos.csv
RU_category_id.json
USvideos.csv
US_category_id.json

In [37]:
# read files in pandas
files_csv=[]
files_json=[]

for file in range(len(files[0])):
    file_path=f'{path_download}/{files[0][file]}'
    try:
        files_json.append(pd.read_json(file_path))
    except:
        try:
            files_csv.append(pd.read_csv(file_path, encoding='utf-8'))
        except:
            files_csv.append(pd.read_csv(file_path, encoding='latin1'))

In [38]:
print(len(files_json))

10

In [45]:
files_json[0].head(1)

,kind,etag,items
0,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."

In [43]:
print(len(files_csv))

10

In [44]:
files_csv[0].head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyonc√©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyonc√© i...

In [47]:
#Data frame for Mexico
files_csv[7].head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,SbOwzAl9ZfQ,17.14.11,Cap√É¬≠tulo 12 | MasterChef 2017,MasterChef 2017,24,2017-11-13T06:06:22.000Z,"MasterChef Junior 2017|""TV Azteca""|""recetas""|""...",310130,4182,361,1836,https://i.ytimg.com/vi/SbOwzAl9ZfQ/default.jpg,False,False,False,Disfruta la presencia del Chef Torreblanca en ...

## Exploring Data

In [ ]:
# Kind of info in json files

In [9]:
#Kind of info in csv files