# Trending YouTubes Statistics

## Extracting Data

### Set up dependecies

#### Using command for Kaggle using terminal

For more information check documentation of Public API for How to Use Kaggle in this [link](https://www.kaggle.com/docs/api)

In [1]:
#Set up command lines with terminal tool
# This project need data set in Kaggle for this is necesary to install kaggle
!pip install kaggle
#Also refrence in:
#https://github.com/Kaggle/kaggle-api documents and
#and https://www.youtube.com/watch?v=gkEbaMgvLs8

Requirement already satisfied: kaggle in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (1.5.10)
Requirement already satisfied: python-slugify in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (4.0.1)
Requirement already satisfied: six>=1.10 in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: urllib3 in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.25.9)
Requirement already satisfied: python-dateutil in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (4.47.0)
Requirement already satisfied: requests in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.24.0)
Requirement already satisfied: text-unidecode>=1.3 in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/luzvazgal/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (2.10)

In [2]:
# Kaggle requaries to ensure kaggle.json (API token file) is in the location ~./kaggle/kaggle.json to use the API
#You have to create an account or and API token in your account. This will download a fresh authentication token onto you machine (kaggle.json)
#Copy you token to downloads to the folder of kaggle (~./kaggle)
!cp -'your path downald file kaggle.json' -'new path ~./kaggle'

cp: illegal option -- y
usage: cp [-R [-H | -L | -P]] [-fi | -n] [-apvXc] source_file target_file
       cp [-R [-H | -L | -P]] [-fi | -n] [-apvXc] source_file ... target_directory

In [3]:
#Check file kaggle is the ~./kaggle path
!cd {'new path ~./kaggle'} && ls

/bin/bash: line 0: cd: new: No such file or directory

#### Dependecies

In [4]:
#Other dependecies
import pandas as pd
import os
from os import walk
from sqlalchemy import create_engine

In [5]:
#path to  download
path_download=os.path.join('Resources')

### Import dataset from Kaggle.com

In [6]:
#this line use the kaggle.json of your account and aunthenticate
from kaggle.api.kaggle_api_extended import KaggleApi
api=KaggleApi()
api.authenticate()

In [7]:
# Download all files of a dataset
# Signature: dataset_download_files(dataset, path=None, force=False, quiet=True, unzip=False)
api.dataset_download_files('datasnaek/youtube-new', path=path_download, force=False, quiet=True, unzip=True)
#A simple file:#Signature: dataset_download_file(dataset, file_name, path=None, force=False, quiet=True)

### Forming Data Frames in Pandas

In [8]:
#files in the data set:
files=[]
for (dirpath, dirnames, filenames) in walk(path_download):
    files.append(filenames)
    print(filenames)

['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']

In [9]:
#Number of files of data base in kaggle
len(files[0])

20

In [10]:
#Show the first file
files[0][0]

'IN_category_id.json'

In [11]:
#Print all name files
for file in range(len(files[0])):
    print(files)

[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]
[['IN_category_id.json', 'MXvideos.csv', 'RU_category_id.json', 'JP_category_id.json', 'FR_category_id.json', 'INvideos.csv', 'GB_category_id.json', 'DEvideos.csv', 'JPvideos.csv', 'KR_category_id.json', 'KRvideos.csv', 'CAvideos.csv', 'MX_category_id.json', 'RUvideos.csv', 'FRvideos.csv', 'CA_category_id.json', 'US_category_id.json', 'DE_category_id.json', 'USvideos.csv', 'GBvideos.csv']]

In [12]:
#Creating Country value, to know the position of GB videos csv file in array result from Kaggle results
#Setting Country as zero by default
Country = 0

In [13]:
# read files in pandas
files_csv=[] #Create frame for csv files
files_json=[] #Create frame fo json files



for file in range(len(files[0])):
    file_path=f'{path_download}/{files[0][file]}'
    try:
        files_json.append(pd.read_json(file_path))
        print(f'{files[0][file]} with json')
    except:
        try:
            files_csv.append(pd.read_csv(file_path, encoding='utf-8-sig'))
            print(f'{files[0][file]} with encoding utf-8')
            
        except:
            files_csv.append(pd.read_csv(file_path, encoding='latin1'))
            print(f'{files[0][file]} with encoding latin')
       
    #Assigning length of files_csv if GB csv file found
        if files[0][file].find('GBvideos.csv')>-1:
            Country = len(files_csv)-1

IN_category_id.json with json
MXvideos.csv with encoding latin
RU_category_id.json with json
JP_category_id.json with json
FR_category_id.json with json
INvideos.csv with encoding utf-8
GB_category_id.json with json
DEvideos.csv with encoding utf-8
JPvideos.csv with encoding latin
KR_category_id.json with json
KRvideos.csv with encoding latin
CAvideos.csv with encoding utf-8
MX_category_id.json with json
RUvideos.csv with encoding latin
FRvideos.csv with encoding utf-8
CA_category_id.json with json
US_category_id.json with json
DE_category_id.json with json
USvideos.csv with encoding utf-8
GBvideos.csv with encoding utf-8

In [14]:
print(len(files_json))

10

In [15]:
files_json[0].head(1)

,kind,etag,items
0,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""XI..."

In [16]:
print(len(files_csv))

10

In [17]:
files_csv[0].head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,SbOwzAl9ZfQ,17.14.11,CapÃ­tulo 12 | MasterChef 2017,MasterChef 2017,24,2017-11-13T06:06:22.000Z,"MasterChef Junior 2017|""TV Azteca""|""recetas""|""...",310130,4182,361,1836,https://i.ytimg.com/vi/SbOwzAl9ZfQ/default.jpg,False,False,False,Disfruta la presencia del Chef Torreblanca en ...

In [18]:
#Data frame for Mexico
files_csv[7].head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Ro6eob0LrCY,17.14.11,Malika LePen : Femme de Gauche - Trailer,Le Raptor Dissident,24,2017-11-13T17:32:55.000Z,"Raptor""|""Dissident""|""Expliquez""|""moi""|""cette""|...",212702,29282,1108,3817,https://i.ytimg.com/vi/Ro6eob0LrCY/default.jpg,False,False,False,Dimanche.\n18h30.\nSoyez présents pour la vidé...

In [19]:
#Data frame for Japan
files_csv[5].head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...

In [20]:
#Data frame for Great Britain
files_csv[3].head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,5ugKfHgsmYw,18.07.02,é¸èªããªãåç´ã«è½ä¸ï¼è·¯ä¸ã®è»ã...,æäºéä¿¡æ åã»ã³ã¿ã¼,25,2018-02-06T03:04:37.000Z,"äºæ |""ä½è³""|""ä½è³ç""|""ããªã³ãã¿ã...",188085,591,189,0,https://i.ytimg.com/vi/5ugKfHgsmYw/default.jpg,True,False,False,ä½è³çç¥å¼å¸ã®æ°å®¶ã«å¢è½ããé¸ä...

## Exploring Data

### Kind of info in json files

In [21]:
#Country work with
#Country=3 #Working with Data of Great Great Britain
print(Country)

9

In [22]:
# Kind of info in json files
files_json[Country].describe()

,kind,etag,items
count,31,31,31
unique,1,1,31
top,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
freq,31,31,1

In [23]:
files_json[Country]

,kind,etag,items
0,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
1,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
2,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
3,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
4,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
5,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
6,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
7,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
8,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
9,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
10,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
11,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
12,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
13,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
14,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
15,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
16,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
17,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
18,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
19,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
20,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
21,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
22,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
23,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
24,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
25,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
26,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
27,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
28,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
29,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
30,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."

In [24]:
files_json[Country].columns

Index(['kind', 'etag', 'items'], dtype='object')

In [25]:
files_json[Country].columns[1]

'etag'

In [26]:
files_json[Country]['etag'].unique()

array(['"ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2qTj13hkQZk"'],
      dtype=object)

In [27]:
files_json[Country]['kind'].unique()

array(['youtube#videoCategoryListResponse'], dtype=object)

In [28]:
files_json[Country]['items'][0]

{'kind': 'youtube#videoCategory',
 'etag': '"ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKmPBggty2mZQ"',
 'id': '1',
 'snippet': {'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
  'title': 'Film & Animation',
  'assignable': True}}

In [29]:
files_json[Country]['items'][0]['kind']

'youtube#videoCategory'

In [30]:
files_json[Country]['items'][0]['etag']

'"ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKmPBggty2mZQ"'

In [31]:
files_json[Country]['items'][0]['id']

'1'

In [32]:
files_json[Country]['items'][0]['snippet']

{'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
 'title': 'Film & Animation',
 'assignable': True}

In [33]:
files_json[Country]['items'][0]['snippet']['channelId']

'UCBR8-60-B28hp2BmDPdntcQ'

In [34]:
files_json[Country]['items'][0]['snippet']['title']

'Film & Animation'

In [35]:
files_json[Country]['items'][0]['snippet']['assignable']

True

### Kind of info in csv files

In [36]:
#Kind of info in csv files

In [37]:
files_csv[Country].describe()

        category_id         views         likes      dislikes  comment_count
count  38916.000000  3.891600e+04  3.891600e+04  3.891600e+04   3.891600e+04
mean      16.827937  5.911944e+06  1.345196e+05  7.612560e+03   1.308835e+04
std        7.752728  1.900121e+07  3.499893e+05  5.095683e+04   5.066740e+04
min        1.000000  8.510000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       10.000000  2.515272e+05  5.897000e+03  2.000000e+02   6.790000e+02
50%       20.000000  9.818890e+05  2.518250e+04  8.210000e+02   2.478000e+03
75%       24.000000  3.683628e+06  1.140892e+05  3.357500e+03   9.241500e+03
max       43.000000  4.245389e+08  5.613827e+06  1.944971e+06   1.626501e+06

In [38]:
files_csv[Country].sort_values(by='video_id')

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
8522,--uXQQ0h-yQ,17.26.12,Paul McCartney - Pipes of Peace,PonteFractus,24,2008-11-24T17:59:52.000Z,"ww1|""great""|""war""|""trenches""|""tommies""",26299,234,3,11,https://i.ytimg.com/vi/--uXQQ0h-yQ/default.jpg,False,False,False,Paul McCartney - Pipes of Peace
9984,--uXQQ0h-yQ,18.02.01,Paul McCartney - Pipes of Peace,PonteFractus,24,2008-11-24T17:59:52.000Z,"ww1|""great""|""war""|""trenches""|""tommies""",28725,253,3,12,https://i.ytimg.com/vi/--uXQQ0h-yQ/default.jpg,False,False,False,Paul McCartney - Pipes of Peace
8327,--uXQQ0h-yQ,17.25.12,Paul McCartney - Pipes of Peace,PonteFractus,24,2008-11-24T17:59:52.000Z,"ww1|""great""|""war""|""trenches""|""tommies""",24723,216,3,10,https://i.ytimg.com/vi/--uXQQ0h-yQ/default.jpg,False,False,False,Paul McCartney - Pipes of Peace
9145,--uXQQ0h-yQ,17.29.12,Paul McCartney - Pipes of Peace,PonteFractus,24,2008-11-24T17:59:52.000Z,"ww1|""great""|""war""|""trenches""|""tommies""",27689,243,3,11,https://i.ytimg.com/vi/--uXQQ0h-yQ/default.jpg,False,False,False,Paul McCartney - Pipes of Peace
8938,--uXQQ0h-yQ,17.28.12,Paul McCartney - Pipes of Peace,PonteFractus,24,2008-11-24T17:59:52.000Z,"ww1|""great""|""war""|""trenches""|""tommies""",27413,241,3,11,https://i.ytimg.com/vi/--uXQQ0h-yQ/default.jpg,False,False,False,Paul McCartney - Pipes of Peace
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37050,zxwfDlhJIpw,18.03.06,kanye west / charlamagne interview,Kanye West,22,2018-05-01T15:57:06.000Z,"Kanye West|""YEEZY""|""Kanye""|""Charlamagne""|""The ...",8579665,167841,19615,48621,https://i.ytimg.com/vi/zxwfDlhJIpw/default.jpg,False,False,False,NaN
35864,zxwfDlhJIpw,18.27.05,kanye west / charlamagne interview,Kanye West,22,2018-05-01T15:57:06.000Z,"Kanye West|""YEEZY""|""Kanye""|""Charlamagne""|""The ...",8473031,166781,19493,48494,https://i.ytimg.com/vi/zxwfDlhJIpw/default.jpg,False,False,False,NaN
36035,zxwfDlhJIpw,18.28.05,kanye west / charlamagne interview,Kanye West,22,2018-05-01T15:57:06.000Z,"Kanye West|""YEEZY""|""Kanye""|""Charlamagne""|""The ...",8486581,166889,19506,48506,https://i.ytimg.com/vi/zxwfDlhJIpw/default.jpg,False,False,False,NaN
37215,zxwfDlhJIpw,18.04.06,kanye west / charlamagne interview,Kanye West,22,2018-05-01T15:57:06.000Z,"Kanye West|""YEEZY""|""Kanye""|""Charlamagne""|""The ...",8596449,168026,19640,48633,https://i.ytimg.com/vi/zxwfDlhJIpw/default.jpg,False,False,False,NaN
34034,zxwfDlhJIpw,18.16.05,kanye west / charlamagne interview,Kanye West,22,2018-05-01T15:57:06.000Z,"Kanye West|""YEEZY""|""Kanye""|""Charlamagne""|""The ...",8295147,165136,19295,48115,https://i.ytimg.com/vi/zxwfDlhJIpw/default.jpg,False,False,False,NaN

In [39]:
files_csv[Country].columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [40]:
files_csv[Country]['video_id'].unique()

array(['Jw1Y-zhQURU', '3s1rvMFUweQ', 'n1WpP7iowLc', ..., 'V15BYnSr0P8',
       'BOhylL90UVQ', '14G7Qw5DC9M'], dtype=object)

In [41]:
files_csv[Country]['trending_date'].unique()

array(['17.14.11', '17.15.11', '17.16.11', '17.17.11', '17.18.11',
       '17.19.11', '17.20.11', '17.21.11', '17.22.11', '17.23.11',
       '17.24.11', '17.25.11', '17.26.11', '17.27.11', '17.28.11',
       '17.29.11', '17.30.11', '17.01.12', '17.02.12', '17.03.12',
       '17.04.12', '17.05.12', '17.06.12', '17.07.12', '17.08.12',
       '17.09.12', '17.10.12', '17.11.12', '17.12.12', '17.13.12',
       '17.14.12', '17.15.12', '17.16.12', '17.17.12', '17.18.12',
       '17.19.12', '17.20.12', '17.21.12', '17.22.12', '17.23.12',
       '17.24.12', '17.25.12', '17.26.12', '17.27.12', '17.28.12',
       '17.29.12', '17.30.12', '17.31.12', '18.01.01', '18.02.01',
       '18.03.01', '18.04.01', '18.05.01', '18.06.01', '18.07.01',
       '18.08.01', '18.09.01', '18.12.01', '18.13.01', '18.14.01',
       '18.15.01', '18.16.01', '18.17.01', '18.18.01', '18.19.01',
       '18.20.01', '18.21.01', '18.22.01', '18.23.01', '18.24.01',
       '18.25.01', '18.26.01', '18.27.01', '18.28.01', '18.29.01',
       '18.30.01', '18.31.01', '18.01.02', '18.02.02', '18.03.02',
       '18.04.02', '18.05.02', '18.06.02', '18.07.02', '18.08.02',
       '18.09.02', '18.10.02', '18.11.02', '18.12.02', '18.13.02',
       '18.14.02', '18.15.02', '18.16.02', '18.17.02', '18.18.02',
       '18.19.02', '18.20.02', '18.21.02', '18.22.02', '18.23.02',
       '18.24.02', '18.25.02', '18.26.02', '18.27.02', '18.28.02',
       '18.01.03', '18.02.03', '18.03.03', '18.04.03', '18.05.03',
       '18.06.03', '18.07.03', '18.08.03', '18.09.03', '18.10.03',
       '18.11.03', '18.12.03', '18.13.03', '18.14.03', '18.15.03',
       '18.16.03', '18.17.03', '18.18.03', '18.19.03', '18.20.03',
       '18.21.03', '18.22.03', '18.23.03', '18.24.03', '18.25.03',
       '18.26.03', '18.27.03', '18.28.03', '18.29.03', '18.30.03',
       '18.31.03', '18.01.04', '18.02.04', '18.03.04', '18.04.04',
       '18.05.04', '18.06.04', '18.07.04', '18.14.04', '18.15.04',
       '18.16.04', '18.17.04', '18.18.04', '18.19.04', '18.20.04',
       '18.21.04', '18.22.04', '18.23.04', '18.24.04', '18.25.04',
       '18.26.04', '18.27.04', '18.28.04', '18.29.04', '18.30.04',
       '18.01.05', '18.02.05', '18.03.05', '18.04.05', '18.05.05',
       '18.06.05', '18.07.05', '18.08.05', '18.09.05', '18.10.05',
       '18.11.05', '18.12.05', '18.13.05', '18.14.05', '18.15.05',
       '18.16.05', '18.17.05', '18.18.05', '18.19.05', '18.20.05',
       '18.21.05', '18.22.05', '18.23.05', '18.24.05', '18.25.05',
       '18.26.05', '18.27.05', '18.28.05', '18.29.05', '18.30.05',
       '18.31.05', '18.01.06', '18.02.06', '18.03.06', '18.04.06',
       '18.05.06', '18.06.06', '18.07.06', '18.08.06', '18.09.06',
       '18.10.06', '18.11.06', '18.12.06', '18.13.06', '18.14.06'],
      dtype=object)

In [42]:
files_csv[Country]['title'].unique()

array(['John Lewis Christmas Ad 2017 - #MozTheMonster',
       'Taylor Swift: …Ready for It? (Live) - SNL',
       'Eminem - Walk On Water (Audio) ft. Beyoncé', ...,
       'Live It Up (Official Video) - Nicky Jam feat. Will Smith & Era Istrefi (2018 FIFA World Cup Russia)',
       'The Chainsmokers - Somebody ft. Drew Love (Rory Kramer Vision)',
       '17 FUN LIFE HACKS YOU WILL WANT TO TRY YOURSELF'], dtype=object)

In [43]:
files_csv[Country]['channel_title'].unique()

array(['John Lewis', 'Saturday Night Live', 'EminemVEVO', ...,
       'Семен Слепаков', 'The Chainsmokers', '5-Minute Crafts'],
      dtype=object)

In [44]:
files_csv[Country]['publish_time'].unique()

array(['2017-11-10T07:38:29.000Z', '2017-11-12T06:24:44.000Z',
       '2017-11-10T17:00:03.000Z', ..., '2018-06-08T11:58:38.000Z',
       '2018-06-09T16:00:00.000Z', '2018-05-18T07:30:00.000Z'],
      dtype=object)

In [45]:
files_csv[Country]['tags'].unique()

array(['christmas|"john lewis christmas"|"john lewis"|"christmas ad"|"mozthemonster"|"christmas 2017"|"christmas ad 2017"|"john lewis christmas advert"|"moz"',
       'SNL|"Saturday Night Live"|"SNL Season 43"|"Episode 1730"|"Tiffany Haddish"|"Taylor Swift"|"Taylor Swift Ready for It"|"s43"|"s43e5"|"episode 5"|"live"|"new york"|"comedy"|"sketch"|"funny"|"hilarious"|"late night"|"host"|"music"|"guest"|"laugh"|"impersonation"|"actor"|"improv"|"musician"|"comedian"|"actress"|"If Loving You Is Wrong"|"Oprah Winfrey"|"OWN"|"Girls Trip"|"The Carmichael Show"|"Keanu"|"Reputation"|"Look What You Made Me Do"|"ready for it?"',
       'Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/Interscope"|"Rap"',
       ...,
       'capitalfmofficial|"capital"|"capital fm"|"capital radio"|"radio"|"official"|"remix"|"lyrics"|"official video"|"live"|"capital tv"|"interview"|"summertime ball"|"stb"|"capital summertime ball 2018"|"capital stb"|"camila cabello live"|"camila summertime ball"|"camila cabello summertime ball"|"fifth harmony"|"fifth harmony live"|"camila fifth harmony"|"harmonisers"|"harmonizers"',
       'The Chainsmokers Somebody|"Chainsmokers Somebody"|"Somedy Drew Love"|"The Chainsmokers Somebody Drew Love"|"The Chainsmokers"|"Rory Kramer"|"Rory Kramer Vision"|"Somebody Rory Kramer"|"Rory Kramer Somebody"|"The Chainsmokers Rory Kramer"|"Somebody Chainsmokers Rory"|"The Chainsmokers Somebody official video"|"official video"|"Lil Dicky"|"G-Eazy"|"Halsey"|"Andrew Watt"',
       '5-Minute Crafts|"DIY"|"Do it yourself"|"crafts"|"trucos"|"trucos de belliza"|"proyectos faciles"|"useful things"|"lifehacks"|"tricks"|"tips"|"DIY projects"|"DIY activities"|"Handcraft"|"Tutorial"|"balloon"|"balloons"|"confettis"|"how to"|"make"|"create"|"design"|"invent"|"festive event"|"birthday party"|"gifts"|"presents"|"gift"|"present"|"gift wrapping"|"toothy pictures"|"drawing"|"painting"|"pull tab"|"rubber band"|"straw hand"'],
      dtype=object)

In [46]:
pd.DataFrame(files_csv[Country]['tags'].value_counts())

                                                    tags
[none]                                              2010
James Corden|"The Late Late Show"|"Colbert"|"la...   100
BIGHIT|"빅히트"|"방탄소년단"|"BTS"|"BANGTAN"|"방탄"             94
ABC|"americanidol"|"idol"|"american idol"|"ryan...    89
The Late Show|"Stephen Colbert"|"Colbert"|"Late...    77
...                                                  ...
Demi|"Lovato"|"addiction"|"live"|"interview"|"m...     1
jimmy|"kimmel"|"live"|"late"|"night"|"talk"|"sh...     1
avengers infinity war best scenes|"thor gets hi...     1
rudy mancuso maia mitchell magic official music...     1
tim|"westwood"|"tv"|"freestyle"|"crib"|"session...     1

[3122 rows x 1 columns]

In [47]:
files_csv[Country]['views'].unique()

array([ 7224515,  1053632, 17158579, ..., 29641412, 14317515,   607552])

In [48]:
files_csv[Country]['likes'].unique()

array([ 55681,  25561, 787420, ...,  61998, 394830, 151870])

In [49]:
files_csv[Country]['dislikes'].unique()

array([10247,  2294, 43420, ..., 13781,  8892, 45875])

In [50]:
files_csv[Country]['comment_count'].unique()

array([  9479,   2757, 125882, ...,  24330,  19988,  26766])

In [51]:
files_csv[Country]['thumbnail_link'].unique()

array(['https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg',
       'https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg',
       'https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg', ...,
       'https://i.ytimg.com/vi/V15BYnSr0P8/default.jpg',
       'https://i.ytimg.com/vi/BOhylL90UVQ/default.jpg',
       'https://i.ytimg.com/vi/14G7Qw5DC9M/default.jpg'], dtype=object)

In [52]:
files_csv[Country]['thumbnail_link'].value_counts()

https://i.ytimg.com/vi/NooW_RbfdWI/default.jpg    38
https://i.ytimg.com/vi/u_C4onVrr8U/default.jpg    38
https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg    38
https://i.ytimg.com/vi/2z3EUY1aXdY/default.jpg    38
https://i.ytimg.com/vi/BhIEIO0vaBE/default.jpg    38
                                                  ..
https://i.ytimg.com/vi/jrfsschAssI/default.jpg     1
https://i.ytimg.com/vi/rHwDegptbI4/default.jpg     1
https://i.ytimg.com/vi/-mNlASb89Wo/default.jpg     1
https://i.ytimg.com/vi/FUMpp2Rqpnw/default.jpg     1
https://i.ytimg.com/vi/dypSszf0d3I/default.jpg     1
Name: thumbnail_link, Length: 3272, dtype: int64

In [53]:
files_csv[Country]['ratings_disabled'].unique()

array([False,  True])

In [54]:
files_csv[Country]['video_error_or_removed'].unique()

array([False,  True])

In [55]:
files_csv[Country]['description'].unique()

array(["Click here to continue the story and make your own monster:\\nhttp://bit.ly/2mboXgj\\n\\nJoe befriends a noisy Monster under his bed but the two have so much fun together that he can't get to sleep, leaving him tired by day. For Christmas Joe receives a gift to help him finally get a good night’s sleep.\\n\\nShop the ad\\nhttp://bit.ly/2hg04Lc\\n\\nThe music is Golden Slumbers performed by elbow, the original song was by The Beatles. \\nFind the track:\\nhttps://Elbow.lnk.to/GoldenSlumbersXS\\n\\nSubscribe to this channel for regular video updates\\nhttp://bit.ly/2eU8MvW\\n\\nIf you want to hear more from John Lewis:\\n\\nLike John Lewis on Facebook\\nhttp://www.facebook.com/johnlewisretail\\n\\nFollow John Lewis on Twitter\\nhttp://twitter.com/johnlewisretail\\n\\nFollow John Lewis on Instagram\\nhttp://instagram.com/johnlewisretail",
       'Musical guest Taylor Swift performs …Ready for It? on Saturday Night Live.\\n\\n#SNL #SNL43\\n\\nGet more SNL: http://www.nbc.com/saturday-night-live\\nFull Episodes: http://www.nbc.com/saturday-night-liv...\\n\\nLike SNL: https://www.facebook.com/snl\\nFollow SNL: https://twitter.com/nbcsnl\\nSNL Tumblr: http://nbcsnl.tumblr.com/\\nSNL Instagram: http://instagram.com/nbcsnl \\nSNL Pinterest: http://www.pinterest.com/nbcsnl/',
       "Eminem's new track Walk on Water ft. Beyoncé is available everywhere: http://shady.sr/WOWEminem \\nPlaylist Best of Eminem: https://goo.gl/AquNpo\\nSubscribe for more: https://goo.gl/DxCrDV\\n\\nFor more visit: \\nhttp://eminem.com\\nhttp://facebook.com/eminem\\nhttp://twitter.com/eminem\\nhttp://instagram.com/eminem\\nhttp://eminem.tumblr.com\\nhttp://shadyrecords.com\\nhttp://facebook.com/shadyrecords\\nhttp://twitter.com/shadyrecords\\nhttp://instagram.com/shadyrecords\\nhttp://trustshady.tumblr.com\\n\\nMusic video by Eminem performing Walk On Water. (C) 2017 Aftermath Records\\nhttp://vevo.ly/gA7xKt",
       ...,
       'The Chainsmokers - Somebody ft. Drew Love (A Rory Kramer Vision)Somebody ft. Drew Love Out Now: http://smarturl.it/TCSsomebody Video by Rory KramerFollow The Chainsmokers: http://www.youtube.com/thechainsmokers http://www.twitter.com/thechainsmokers http://www.facebook.com/thechainsmokers http://www.instagram.com/thechainsmokers http://www.soundcloud.com/thechainsmokers',
       "So here are some incredibly fun life hacks you will want to try yourself!You should totally check out these great ideas for the best party ever!Learn 7 sick dance moves for beginners, find out how to make incredible confetti balloons, floral numbers and letters for room decoration, phone speakers and your own disco ball!It's a perfect chance to spend some quality time with your friends or family and have fun together! Learn how to make soda machine right at home and inflate balloons correctly in a very creative way!Let the fun begin! :)----------------------------------------------------------------------------------------Our Social Media:Facebook: https://www.facebook.com/5min.crafts/Instagram: https://www.instagram.com/5.min.crafts/Twitter: https://twitter.com/5m_craftsSubscribe to 5-Minute Crafts GIRLY: https://goo.gl/fWbJqzSubscribe to 5-Minute Workouts: https://goo.gl/67owiQSubscribe 5-Minute Crafts KIDS: https://goo.gl/PEuLVtThe Bright Side of Youtube: https://goo.gl/rQTJZz----------------------------------------------------------------------------------------For more videos and articles visit:http://www.brightside.me/",
       "Debut album 'Light of Mine' out now: http://kyle.lnk.to/LightofMineIDFollow SuperDuperKyle:Facebook: https://facebook.com/superduperkylemusicTwitter: https://twitter.com/superduperkyleInstagram: https://instagram.com/superduperkyleSoundCloud: https://soundcloud.com/superduperkylemusicWebsite: http://superduperkyle.comFollow the SuperDuperCrew:https://twitter.com/SuperDuperCrew_https://instagram.com/superdupercrew/https://youtube.com/user/SuperDuperCrewTVKYLE - Ikuyo feat. 2 Chainz & Sophia Black"],
      dtype=object)

#  Transform activities

Transforming extracted data to get the following DataFrames:

* Tag catalog
* YouTube Video category catalog
* YouTube Video description (video id, category id, video name, link)
* YouTube Video insights (likes, dislikes, # of views, category id)
* Tag - video id normalization relationship table: containing all video ids and their corresponding tag ids

## Tag catalog & Tag normalization table

## Tag Normalization table

In [56]:
#We create a df with video ID and tag reference
video_tag_df = files_csv[Country][['video_id','tags']]
video_tag_df.sort_values(by='video_id')

          video_id                                               tags
8522   --uXQQ0h-yQ             ww1|"great"|"war"|"trenches"|"tommies"
9984   --uXQQ0h-yQ             ww1|"great"|"war"|"trenches"|"tommies"
8327   --uXQQ0h-yQ             ww1|"great"|"war"|"trenches"|"tommies"
9145   --uXQQ0h-yQ             ww1|"great"|"war"|"trenches"|"tommies"
8938   --uXQQ0h-yQ             ww1|"great"|"war"|"trenches"|"tommies"
...            ...                                                ...
37050  zxwfDlhJIpw  Kanye West|"YEEZY"|"Kanye"|"Charlamagne"|"The ...
35864  zxwfDlhJIpw  Kanye West|"YEEZY"|"Kanye"|"Charlamagne"|"The ...
36035  zxwfDlhJIpw  Kanye West|"YEEZY"|"Kanye"|"Charlamagne"|"The ...
37215  zxwfDlhJIpw  Kanye West|"YEEZY"|"Kanye"|"Charlamagne"|"The ...
34034  zxwfDlhJIpw  Kanye West|"YEEZY"|"Kanye"|"Charlamagne"|"The ...

[38916 rows x 2 columns]

Data cleaning: removing duplicates, NaN records and '[none]' value

In [57]:
#Removing duplicates
video_tag_df = video_tag_df.drop_duplicates(keep='first', subset=['video_id', 'tags'])
video_tag_df.sort_values(by='video_id')

          video_id                                               tags
8327   --uXQQ0h-yQ             ww1|"great"|"war"|"trenches"|"tommies"
9396   -3VBPAZPTQI  jamie genevieve|"bblogger"|"youtuber"|"makeup"...
17986  -43MBOJnVks  Rampage|"Rampage Movie"|"Rampage Trailer"|"War...
3019   -5WBCrazSfg  Soccer AM|"Football"|"Soccer"|"Premier League"...
19998  -5aaJJQFvOg  havana|"cover"|"a capella"|"swing"|"dodie"|"fl...
...            ...                                                ...
25561  zwEn-ambXLw  travis wall|"shoshana bean"|"greatest showman"...
8131   zwrlJwed2mQ  BigCityBeats|"Zero Gravity"|"Flugzeug"|"Airpla...
6132   zxGg8QqWrRQ  Essence|"essence live"|"Essence Now"|"Dr. Kast...
35293  zxjv0lo8bU8  Real Madrid C.F.|"Real Madrid"|"Real madrid ci...
31667  zxwfDlhJIpw  Kanye West|"YEEZY"|"Kanye"|"Charlamagne"|"The ...

[3436 rows x 2 columns]

In [58]:
#Removing rows with NaN in tags 
video_tag_df.dropna()
video_tag_df

          video_id                                               tags
0      Jw1Y-zhQURU  christmas|"john lewis christmas"|"john lewis"|...
1      3s1rvMFUweQ  SNL|"Saturday Night Live"|"SNL Season 43"|"Epi...
2      n1WpP7iowLc  Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...
3      PUTEiSjKwJU  Salford City FC|"Salford City"|"Salford"|"Clas...
4      rHwDegptbI4                                             [none]
...            ...                                                ...
38767  i63jWjoAWHE  Семен Слепаков|"гитара"|"бард-десятник"|"Comed...
38776  7uzjz51S--M  capitalfmofficial|"capital"|"capital fm"|"capi...
38782  V15BYnSr0P8  Nicky Jam|"NickyJamPR"|"latin"|"will smith"|"E...
38793  BOhylL90UVQ  The Chainsmokers Somebody|"Chainsmokers Somebo...
38887  14G7Qw5DC9M  5-Minute Crafts|"DIY"|"Do it yourself"|"crafts...

[3436 rows x 2 columns]

In [59]:
#Removing association from videos not being tagged
video_tag_df = video_tag_df[video_tag_df['tags'] != '[none]']

In [60]:
#Removing the '|' character, and create a list of tags in each record
tags_list_of_lists = video_tag_df['tags'].str.split('|', expand = False)

In [61]:
#Creating an intermediate dataframe with lists of lists to create clean data frame
video_tag_bridge_df = pd.DataFrame({
        "video_id": video_tag_df['video_id'],
        "tags": tags_list_of_lists
}
)

#Removing nan numbers
video_tag_bridge_df = video_tag_bridge_df.dropna()
video_tag_bridge_df

          video_id                                               tags
0      Jw1Y-zhQURU  [christmas, "john lewis christmas", "john lewi...
1      3s1rvMFUweQ  [SNL, "Saturday Night Live", "SNL Season 43", ...
2      n1WpP7iowLc  [Eminem, "Walk", "On", "Water", "Aftermath/Sha...
3      PUTEiSjKwJU  [Salford City FC, "Salford City", "Salford", "...
5      AumaWl0TNBo  [pointlessblog, "pointlessblogtv", "pointlessb...
...            ...                                                ...
38767  i63jWjoAWHE  [Семен Слепаков, "гитара", "бард-десятник", "C...
38776  7uzjz51S--M  [capitalfmofficial, "capital", "capital fm", "...
38782  V15BYnSr0P8  [Nicky Jam, "NickyJamPR", "latin", "will smith...
38793  BOhylL90UVQ  [The Chainsmokers Somebody, "Chainsmokers Some...
38887  14G7Qw5DC9M  [5-Minute Crafts, "DIY", "Do it yourself", "cr...

[3257 rows x 2 columns]

In [62]:
#Empty DataFrame where tags will be allocated
tags = []
video_ids = []

#Iterating on list of lists to get a unique tag
for index, video_tag_row in video_tag_bridge_df.iterrows():
    video_id = video_tag_row['video_id']
    tag_list = video_tag_row['tags']
    #print(video_id)
    #print(tag_list)
   
    
    for tag in tag_list:
     #Removing '"' from tags
        video_ids.append(video_id)
        tags.append(tag.replace('"', ''))

In [63]:
#Creating video-tag relationship dataframe using arrays filled in previous procedure
video_tag_clean_df = pd.DataFrame({
    "video_id": video_ids,
    "tag_name":tags
})

In [64]:
#Dropping duplicated columns
video_tag_clean_df.drop_duplicates(keep='first', inplace=True)
video_tag_clean_df

          video_id              tag_name
0      Jw1Y-zhQURU             christmas
1      Jw1Y-zhQURU  john lewis christmas
2      Jw1Y-zhQURU            john lewis
3      Jw1Y-zhQURU          christmas ad
4      Jw1Y-zhQURU         mozthemonster
...            ...                   ...
64762  14G7Qw5DC9M               drawing
64763  14G7Qw5DC9M              painting
64764  14G7Qw5DC9M              pull tab
64765  14G7Qw5DC9M           rubber band
64766  14G7Qw5DC9M            straw hand

[61633 rows x 2 columns]

## Tag catalog

In [65]:
#Creating Tag catalog using tags list
tags_df = pd.DataFrame({
    'tag_name': tags
})

#Removing duplicated records
tags_df.drop_duplicates(keep='first', inplace=True)
#Removing nan records
tags_df = tags_df.dropna()
tags_df

                   tag_name
0                 christmas
1      john lewis christmas
2                john lewis
3              christmas ad
4             mozthemonster
...                     ...
64760         gift wrapping
64761       toothy pictures
64764              pull tab
64765           rubber band
64766            straw hand

[31881 rows x 1 columns]

## YouTube video category catalog

In [66]:
#To create YouTube video category, we need to iterate on items value from JSON file
#Categories are stored in array, which will be used to create YouTube video category DataFrame
categories_ids = []
categories = []


for category in files_json[Country]['items']:
    #print(category['snippet']['title'])
    categories_ids.append(category['id'])
    categories.append(category['snippet']['title'])

categories_df = pd.DataFrame( {
    'category_id': categories_ids,
    'category_name': categories
})

categories_df

   category_id         category_name
0            1      Film & Animation
1            2      Autos & Vehicles
2           10                 Music
3           15        Pets & Animals
4           17                Sports
5           18          Short Movies
6           19       Travel & Events
7           20                Gaming
8           21         Videoblogging
9           22        People & Blogs
10          23                Comedy
11          24         Entertainment
12          25       News & Politics
13          26         Howto & Style
14          27             Education
15          28  Science & Technology
16          30                Movies
17          31       Anime/Animation
18          32      Action/Adventure
19          33              Classics
20          34                Comedy
21          35           Documentary
22          36                 Drama
23          37                Family
24          38               Foreign
25          39                Horror
26          40        Sci-Fi/Fantasy
27          41              Thriller
28          42                Shorts
29          43                 Shows
30          44              Trailers

## YouTube video description table

In [67]:
#YouTube Video description (video id, category id, video name, link)
#files_csv[3] = UK videos
video_description_df = files_csv[Country][['video_id','category_id','title']]
video_description_df.dropna()
video_description_df.sort_values(by='video_id')

          video_id  category_id                               title
8522   --uXQQ0h-yQ           24     Paul McCartney - Pipes of Peace
9984   --uXQQ0h-yQ           24     Paul McCartney - Pipes of Peace
8327   --uXQQ0h-yQ           24     Paul McCartney - Pipes of Peace
9145   --uXQQ0h-yQ           24     Paul McCartney - Pipes of Peace
8938   --uXQQ0h-yQ           24     Paul McCartney - Pipes of Peace
...            ...          ...                                 ...
37050  zxwfDlhJIpw           22  kanye west / charlamagne interview
35864  zxwfDlhJIpw           22  kanye west / charlamagne interview
36035  zxwfDlhJIpw           22  kanye west / charlamagne interview
37215  zxwfDlhJIpw           22  kanye west / charlamagne interview
34034  zxwfDlhJIpw           22  kanye west / charlamagne interview

[38916 rows x 3 columns]

In [68]:
#Deleting duplicate rowsb
video_description_df = video_description_df.drop_duplicates(subset='video_id')

In [69]:
video_description_df.sort_values(by='video_id')

,video_id,category_id,title
8327,--uXQQ0h-yQ,24,Paul McCartney - Pipes of Peace
9396,-3VBPAZPTQI,22,NEW YEAR'S EVE MAKEUP TUTORIAL | JAMIE GENEVIEVE
17986,-43MBOJnVks,24,RAMPAGE - OFFICIAL TRAILER 2 [HD]
3019,-5WBCrazSfg,17,Neymar will win the Ballon d'Or | Philippe Cou...
19998,-5aaJJQFvOg,10,Havana - swing cover | dodie feat. FLASHBACK
...,...,...,...
25561,zwEn-ambXLw,10,This Is Me - Cover by Shoshana Bean Featuring ...
8131,zwrlJwed2mQ,24,BigCityBeats WORLD CLUB DOME Zero Gravity (Off...
6132,zxGg8QqWrRQ,24,"K Michelle on Boyfriend Kastan Sims, Having T..."
35293,zxjv0lo8bU8,17,MARCELO's son ENZO shows off his skills in the...
31667,zxwfDlhJIpw,22,kanye west / charlamagne interview

## YouTube video Insights

In [70]:
#YouTube Insights (video_id','views','likes', 'dislikes', 'comment_count')
video_insights_df = files_csv[Country][['video_id','views','likes', 'dislikes', 'comment_count']]
video_insights_df.dropna()
video_insights_df.sort_values(by='video_id')

          video_id    views   likes  dislikes  comment_count
8522   --uXQQ0h-yQ    26299     234         3             11
9984   --uXQQ0h-yQ    28725     253         3             12
8327   --uXQQ0h-yQ    24723     216         3             10
9145   --uXQQ0h-yQ    27689     243         3             11
8938   --uXQQ0h-yQ    27413     241         3             11
...            ...      ...     ...       ...            ...
37050  zxwfDlhJIpw  8579665  167841     19615          48621
35864  zxwfDlhJIpw  8473031  166781     19493          48494
36035  zxwfDlhJIpw  8486581  166889     19506          48506
37215  zxwfDlhJIpw  8596449  168026     19640          48633
34034  zxwfDlhJIpw  8295147  165136     19295          48115

[38916 rows x 5 columns]

In [71]:
#Grouping By video id to get total # of views, likes, dislikes and comments
video_insights_df=video_insights_df.groupby('video_id').sum()

In [72]:
video_insights_df

                 views    likes  dislikes  comment_count
video_id
--uXQQ0h-yQ     246618     2173        27            102
-3VBPAZPTQI    4926085   205249      3918          11513
-43MBOJnVks    2303237    24173      1162           3220
-5WBCrazSfg    2861411    60839       983           6294
-5aaJJQFvOg   45754128  4856486     73795         222385
...                ...      ...       ...            ...
zwEn-ambXLw    2659300    98136      1567           4054
zwrlJwed2mQ     496415     4806        13            152
zxGg8QqWrRQ     572491     9516       471           1715
zxjv0lo8bU8    4293505   161636      1614           9531
zxwfDlhJIpw  288382131  5811436    674972        1694655

[3272 rows x 4 columns]

## Use Pandas to load the Dataframes into Database

In [73]:
#Connect to local database
rds_connection_string = "postgres:postgres@localhost:5432/youtube_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [74]:
#Load DataFrames into PostgreSQL tables
#As video_insight table is comming from a group_by instruction, the index (video_id) needs to be added as column
video_insights_df.to_sql(name='video_insight', con=engine, if_exists='replace', index=True)
video_description_df.to_sql(name='video_description', con=engine, if_exists='replace', index=False)
categories_df.to_sql(name='categories', con=engine, if_exists='replace', index=False)
tags_df.to_sql(name='tag_catalogue', con=engine, if_exists='replace', index=False)
video_tag_clean_df.to_sql(name='video_tag', con=engine, if_exists='replace', index=False)

Adding Keys to each one of the tables

In [75]:
#video_insight
engine.execute("alter table video_insight add primary key (video_id)")

In [76]:
#video_description
engine.execute("alter table video_description add primary key (video_id)")

In [77]:
#categories
engine.execute("alter table categories add primary key (category_id)")

In [78]:
#tag_catalogue
engine.execute("alter table tag_catalogue add primary key (tag_name)")

In [79]:
#video_tag
engine.execute("alter table video_tag add primary key (video_id,tag_name)")

# Queries

Using SQLAlchemy to explore data

In [80]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, Column, Integer, String, Float, Table
from sqlalchemy.sql.expression import cast

In [81]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [82]:
# We can view all of the classes that automap found
Base.classes.keys()

['video_tag',
 'video_insight',
 'video_description',
 'categories',
 'tag_catalogue']

In [83]:
#References to each one of the tables
Video_Insight =  Base.classes.video_insight
Video_Description =  Base.classes.video_description
Categories = Base.classes.categories
Tag_Catalogue = Base.classes.tag_catalogue
Video_Tag = Base.classes.video_tag

In [84]:
# Create our session (link) from Python to the DB
session = Session(bind=engine)

## Top 10 videos (more views)

It shows the top 10 videos in Great Britain

In [85]:
#Getting the order by desc of 'views' column
top_videos = (session.query(Video_Description.title,Video_Insight.views ).join(Video_Description, 
                    Video_Insight.video_id == Video_Description.video_id)
              .order_by(Video_Insight.views.desc()).limit(10))

#Convert it to DataFrame to display results
top_videos_df = pd.read_sql(top_videos.statement, engine )
top_videos_df

                                               title       views
0  Nicky Jam x J. Balvin - X (EQUIS) | Video Oficial  8232584412
1               Bad Bunny - Amorfoda | Video Oficial  6891280759
2  Childish Gambino - This Is America (Official V...  6101309613
3  Te Bote Remix - Casper, Nio García, Darell, Ni...  5151438858
4                                 Drake - God’s Plan  4625496538
5           Ozuna x Romeo Santos - El Farsante Remix  4396004901
6               Ariana Grande - No Tears Left To Cry  4107436350
7           Ozuna - Única (Video Oficial) 🐻 A U R A  3167448536
8  Becky G, Natti Natasha - Sin Pijama (Official ...  3044516667
9  YouTube Rewind: The Shape of 2017 | #YouTubeRe...  2403636485


## Most Liked Videos

It shows the 10 most liked videos in Great Britain

In [86]:
#Getting the order by desc of 'likes' column
liked_videos = (session.query(Video_Description.title,Video_Insight.likes ).join(Video_Description, 
                    Video_Insight.video_id == Video_Description.video_id)
              .order_by(Video_Insight.likes.desc()).limit(10))

#Convert it to DataFrame to display results
liked_videos_df = pd.read_sql(liked_videos.statement, engine )
liked_videos_df

                                               title      likes
0  Childish Gambino - This Is America (Official V...  148408057
1                                 Drake - God’s Plan  118068312
2               Bad Bunny - Amorfoda | Video Oficial  106452827
3               Ariana Grande - No Tears Left To Cry   97532165
4                BTS (방탄소년단) 'FAKE LOVE' Official MV   71835062
5  Nicky Jam x J. Balvin - X (EQUIS) | Video Oficial   60666562
6                            Taylor Swift - Delicate   56134055
7  Te Bote Remix - Casper, Nio García, Darell, Ni...   53517444
8  BTS (방탄소년단) 'Euphoria : Theme of LOVE YOURSELF...   53451962
9                               j-hope 'Airplane' MV   52907912

## Most Disliked videos

In [87]:
#Getting the order by desc of 'dislikes' column
disliked_videos = (session.query(Video_Description.title,Video_Insight.dislikes ).join(Video_Description, 
                    Video_Insight.video_id == Video_Description.video_id)
              .order_by(Video_Insight.dislikes.desc()).limit(10))

#Convert it to DataFrame to display results
disliked_videos_df = pd.read_sql(disliked_videos.statement, engine )
disliked_videos_df

                                               title  dislikes
0  YouTube Rewind: The Shape of 2017 | #YouTubeRe...  27250882
1                                          So Sorry.  22383271
2              Lucas Lucco e Pabllo Vittar - Paraíso  10006058
3  Childish Gambino - This Is America (Official V...   9558340
4  Fergie Performs The U.S. National Anthem / 201...   6427854
5                         Suicide: Be Here Tomorrow.   5348765
6               Bad Bunny - Amorfoda | Video Oficial   5256551
7              PSA from Chairman of the FCC Ajit Pai   4359597
8               Ariana Grande - No Tears Left To Cry   3941157
9         Shakira - Trap (Official Video) ft. Maluma   3901027

## Most viewed Categories

In [88]:
#Getting the order by desc of 'views' column
views = func.sum(Video_Insight.views).label('views')

categories_videos = (
                    session.query(Categories.category_name, views)
                   .join(Video_Description, Categories.category_id == cast(Video_Description.category_id,String))
                    .join(Video_Insight, Video_Description.video_id == Video_Insight.video_id)
                    .group_by(Categories.category_name)
                    .order_by(views.desc())
                    )
                   
#Convert it to DataFrame to display results
categories_df = pd.read_sql(categories_videos.statement, engine )
categories_df

           category_name         views
0                  Music  1.710913e+11
1          Entertainment  2.982207e+10
2       Film & Animation  8.319385e+09
3         People & Blogs  5.843342e+09
4                 Comedy  3.960938e+09
5                 Sports  3.370319e+09
6                 Gaming  1.751768e+09
7   Science & Technology  1.641388e+09
8        News & Politics  1.409131e+09
9          Howto & Style  1.174128e+09
10        Pets & Animals  5.413206e+08
11             Education  4.442906e+08
12      Autos & Vehicles  2.141845e+08
13       Travel & Events  1.327850e+08

## Top 10 tags

In [91]:
#Getting the order by desc of 'likes' column
#Grouping by Tag and number of videos associated to that tag, narrowed to 5 videos
num_videos = func.count(Video_Description.video_id).label("num_videos")
tags_videos = (
                    session.query(Tag_Catalogue.tag_name, num_videos)
                   .join(Video_Tag, Tag_Catalogue.tag_name == Video_Tag.tag_name)
                    .join(Video_Description, Video_Tag.video_id == Video_Description.video_id)
                    .group_by(Tag_Catalogue.tag_name)
                    .order_by(num_videos.desc())
                    .limit(10)
                    )
                   
#Convert it to DataFrame to display results
tags_videos_df = pd.read_sql(tags_videos.statement, engine )
tags_videos_df

      tag_name  num_videos
0        funny         319
1       comedy         263
2        music         206
3        humor         161
4    interview         152
5        video         138
6     comedian         138
7   late night         131
8  celebrities         128
9        jokes         126

### Showing videos with random chosen tags

From the top 10 used tags, lets choose 3 of them randomly and see which videos are using them

In [94]:
import random

In [92]:
top_tags = tags_videos_df['tag_name']

In [118]:
random_tags = []
#Randomly assign how many tags are used to search videos
num_tags = random.randint(1,4)

#Iterating on random tag number
for i in range(num_tags):
    #Pick the tags randomly
    tag_ranking = random.randint(0,len(top_tags)-1)
    
    #Validating if tag is not assigned to random tags list
    if top_tags[tag_ranking] not in random_tags:
        random_tags.append(top_tags[tag_ranking])

print(f"Tag filter: {random_tags}")

Tag filter: ['late night', 'interview', 'comedian']

In [135]:
#Final random tag list is the condition to get videos

videos_by_tag = (
                session.query(Video_Description.title, Tag_Catalogue.tag_name )
                .join(Video_Tag, Video_Description.video_id == Video_Tag.video_id)
                .join(Tag_Catalogue, Video_Tag.tag_name == Tag_Catalogue.tag_name)
                .filter(Tag_Catalogue.tag_name.in_(random_tags))
                .order_by(Tag_Catalogue.tag_name)
)

In [136]:
#Convert it to DataFrame to display results
videos_by_tag_df = pd.read_sql(videos_by_tag.statement, engine )
videos_by_tag_df

                                                 title    tag_name
0                   JRE MMA Show #11 with John Danaher    comedian
1                      Hawaii's Weekend Missile Mishap    comedian
2        Amy Schumer Is Ready to Host the Best SNL Yet    comedian
3    Christina Aguilera Carpool Karaoke - Extended Cut    comedian
4                                  New Hulu Show - SNL    comedian
..                                                 ...         ...
416  Tony Awards The Musical Starring Sara Bareille...  late night
417                      Niecy Nash Has A Prince Story  late night
418        Shawn Mendes: Perfectly Wrong #LateLateShow  late night
419  Hilary Duff Is Having a Baby Girl and Her Son ...  late night
420  Drop the Mic w/ Ashton Kutcher & Sean Diddy Combs  late night

[421 rows x 2 columns]